<link rel="stylesheet" href="regcss.css">


<h1>Register lol</h1>
<form action="/register" id="f1" method="post">
<input type="text" name="name" id="" placeholder="Enter User name" class="cls1" required>
<button><a href="/login">Login</a></button>
<div class="break"></div>
<input type="text" name="email" id="" placeholder="Enter Email" class="cls1" required>
<div class="break"></div>
<input type="password" name="password" id="" placeholder="Enter password" class="cls1" required>
<div class="break"></div>
<input type="submit" value="Register" id="btn1">

</form>

